// A java security policy is required to make calls against the caBIO server
// because the caBIO.jar uses Java RMI(Remote Method Invocation) calls to
// connect with the caBIO server.
// The policies defined in this policy file are for protection
// of your system -not the caBIO server. Therefore, you are
// free (and encouraged) to edit these policies as appropriate for your system.
// For more information, see http://java.sun.com/security/
// For example, a policy to grant limited access on your system would
// contains text such as:


//grant {
//      permission java.net.SocketPermission "*:1024-65535",
//                "connect,accept";
//      permission java.net.SocketPermission "*:80", "connect";
//	permission java.io.FilePermission ".", "read";
//	permission java.io.FilePermission ".\\-", "read, write";
//	permission java.util.PropertyPermission "*", "read, write";
//	permission java.lang.RuntimePermission "accessClassInPackage.sun.*";
//	permission java.lang.RuntimePermission "setContextClassLoader";
//};

// default permissions to run caBIO.jar

grant {
	permission java.security.AllPermission;
};
